@model Room.Models.Employee

@{
    ViewBag.Title = "Details";
}
<br>
<br>
<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           รหัสพนักงาน
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empid)
        </dd>

        <dt>
            รหัสผ่าน
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
           ชื่อ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
           นามสกุล
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
