@model Room.Models.Roomadd



@{
    ViewBag.Title = "Details";
}
<br>
<br>

<h2 style="text-align:center;">ดูรายละเอียดห้องพัก</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            หมายเลขห้อง
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNo)
        </dd>

        <dt>
           ประเภทห้องพัก
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roomtype)
        </dd>

        <dt>
           ราคา
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            สถานะห้องพัก
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
          รหัสนักศึกษาคนที่1
        </dt>

        <dd>
           
            @Html.DisplayFor(model => model.StudentID)
            
        </dd>

        <dt>
            รหัสนักศึกษาคนที่2
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID2)
      
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
